<div class="container col-12 animated fadeIn">
    <div class="parte-superior form-inline col-12">
        <div class="col-3"></div>
        <div class="imagem-perfil col-2 mt-5">
            <img src="../../assets/imagens/arara.jpg" style="max-height: 150px; max-length: 150px;" class="rounded float-right">
        </div>
        <div class="info-perfil col-4">
            <div class="col-12 form-inline">
                <div class="col-5 text-center">
                    <span>@fãdeaves</span><span class="fw-900"><br><b>zé o criador</b></span>

                </div>
                <div class="col-4 text-center ml-3">
                    <button type="button" mdbBtn *ngIf="!seuperfil" class="btn-sm" color="light" mdbWavesEffect>Seguir</button>
                    <button type="button" mdbBtn *ngIf="seuperfil" class="btn-sm" color="light" mdbWavesEffect>Editar
                        Perfil</button>
                </div>
                <div class="col-2 text-center">
                    <a>
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>