<div class="col-12" style="display:inline-flex">
    <div class="col-6" style="display: block; overflow: hidden;">
        <div style="margin-left: 120px; margin-top:35px">
            <img style="width:100%" src="../assets/imagens/letra.png">
            <img style="width:100%" src="../assets/imagens/save.png">
        </div>
    </div>

    <div class="col-6" style="padding-top: 100px">
        <img style="position: absolute; margin-left:143px; z-index: 9999; margin-top: -75px " src="../assets/imagens/cachorro6.png" height="25%" width="25%">

        <!-- Default form login -->
        <form class="text-center border border-light ml-a mr-a p-4 mt-5 col-7">
            <p class="mb-1 mb-3" style="font-size: 15"><b>CADASTRE-SE</b></p>

            <!-- Usuario -->
            <input type="Usuário" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Usuário">

            <!-- Email -->
            <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">

            <!-- Senha -->
            <input type="Senha" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Senha">

            <!-- confirmar senha -->
            <input type="Confirme sua senha" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Confirme sua senha">

            <!-- Sign in button -->
            <button mdbBtn color="info" block="true" class="my-4" type="submit" [routerLink]="''">Cadastrar</button>
        </form>
    </div>
</div>

<footer class="footer p-4">
    <div class="lista-footer mr-a ml-a">
        <a class="mr-5"> <b> Fale Conosco</b> </a>
        <a class="mr-5"> <b> Termos </b> </a>
        <a class="mr-5"> <b> Sobre Nos </b> </a>
        <a class="mr-5"> <b> #Hashtags </b> </a>
    </div>
</footer>