@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    margin: 0;
    padding: 0;
}

.app-full-bleed-dialog .mat-dialog-container {
    padding-bottom: 0;
}

.mr-a {
    margin-right: auto !important;
}

.ml-a {
    margin-left: auto !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.fr {
    float: right !important;
}

.fl {
    float: left !important;
}

.fw-900 {
    font-weight: 900 !important;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12 {
    padding: 0;
}

.tar {
    text-align: right;
}

.br-0 {
    border-radius: 0 !important;
}

.br-r-0 {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.br-l-0 {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.b-1px {
    border: 1px solid #9e9e9e !important;
}

.mt-5px {
    margin-top: 5px !important;
}